:root {
  --primary-color: #0c7d69; /* Green button color */
  --primary-color-dark: #005f2b; /* Darker green on hover */
  --background-color: #e0f1e7; /* Light green background */
  --white-color: #fff;
  --grey-darker: #333;
  --border-color: #ccc;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  /* Typography */
  --font-family: "Karla", sans-serif;
  --font-size-label: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  color: var(--grey-darker);
}

.container {
  background-color: var(--white-color);
  padding: 40px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  max-width: 500px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--grey-darker);
}

.form-grp {
  margin-bottom: 20px;
  flex: 1px;
}

.names-container {
  display: flex;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
  color: var(--grey-darker);
  font-size: var(--font-size-label);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: var(--font-size-label);
  color: var(--grey-darker);
}

textarea {
  resize: vertical;
}

.radio {
  display: flex;
  justify-content: space-between;
}

.radio-option {
  display: inline-block;
  padding: 6px 10px;
  margin-top: 5px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--white-color);
  width: calc(50% - 5px);
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 6px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.submitbtn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: var(--font-size-label);
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.submitbtn:hover,
.submitbtn:focus {
  background-color: var(--primary-color-dark);
  outline: none;
}

.required {
  color: var(--primary-color);
}

.error-message {
  color: hsl(0, 66%, 54%);
  background-color: hsl(0, 100%, 95%);
  padding: 10px;
  margin: 10px 0;
}

.success-message {
  color: var(--primary-color);
  background-color: #dfd;
  padding: 10px;
  margin: 10px 0;
}

@media (max-width: 375px) {
  .container {
    padding: 20px;
  }

  .radio {
    flex-direction: column;
  }

  .submitbtn {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 600px;
  }

  .radio-option {
    width: auto;
  }
}
